auth_enabled: false

server:
  http_listen_port: 3100
  grpc_listen_port: 9096
  log_level: info
  grpc_server_max_concurrent_streams: 100

common:
  instance_addr: 127.0.0.1
  path_prefix: /var/lib/loki
  replication_factor: 1
  ring:
    kvstore:
      store: inmemory
  storage:
    filesystem:
      chunks_directory: /var/lib/loki/chunks
      rules_directory: /var/lib/loki/rules

# -------------------------------------------------------------------
# CONTROLE DE MEMÓRIA DO INGESTER (FLUSH RÁPIDO PARA O DISCO)
# -------------------------------------------------------------------
ingester:
  lifecycler:
    ring:
      kvstore:
        store: inmemory
      replication_factor: 1
  chunk_idle_period: 3m        # Descarta chunks sem novos logs em 3 min
  chunk_retain_period: 30s     # Libera da RAM 30s após gravar no disco
  max_chunk_age: 30m           # Força gravação em disco a cada 30 min
  chunk_target_size: 1048576   # Grava no disco assim que atingir 1MB
  wal:
    enabled: true
    dir: /var/lib/loki/wal    # Protege contra perdas se a VM reiniciar

schema_config:
  configs:
    - from: 2026-01-01
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h

storage_config:
  filesystem:
    directory: /var/lib/loki/chunks

  tsdb_shipper:
    active_index_directory: /var/lib/loki/index
    cache_location: /var/lib/loki/index_cache

query_range:
  results_cache:
    cache:
      embedded_cache:
        enabled: true
        max_size_mb: 32        # Reduzido de 256MB para 32MB!

limits_config:
  retention_period: 30d
  allow_structured_metadata: true

compactor:
  working_directory: /var/lib/loki/compactor
  retention_enabled: true
  retention_delete_delay: 2h
  retention_delete_worker_count: 2  # Reduzido de 50 para 2!
  delete_request_store: filesystem

pattern_ingester:
  enabled: false              # Desativado para economizar RAM

ruler:
  storage:
    type: local
    local:
      directory: /var/lib/loki/rules

  rule_path: /var/lib/loki/rules-temp
  alertmanager_url: http://127.0.0.1:9093

frontend:
  encoding: protobuf

analytics:
  reporting_enabled: false
