[defaults]
force_color=true
host_key_checking=false
stdout_callback=debug
stderr_callback=debug
roles_path = ./roles
inventory = ./inventories/
interpreter_python = auto_silent
vault_password_file = ~/.ansible_vault
