[defaults]
force_color=true
host_key_checking=false

stdout_callback=default
result_format=yaml
callbacks_enabled=ansible.posix.profile_tasks,timer

display_skipped_hosts=false
retry_files_enabled=false

roles_path=./roles
inventory=./inventories/

interpreter_python=auto_silent
vault_password_file=~/.ansible_vault
